.wrapper {
    display: flex;
    padding: 20px 20px 20px 90px;
    /* justify-content: center; */
    /* align-items: center; */
}

.aboutseller {
    display: flex;
    flex-direction: column;
}

.contactbtn {
    background-color: #E1C599;
    border: 1px solid #DDB227;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
    margin: -15px 10px 0 5px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

.contactbtn:hover {
    transition: 0.5s ease;
    transform: translateY(-3px);
}

.about {
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
}