/* EmailVerify.module.css */

.Wrapper {
  /* border: 2px solid #ccc;
  border-radius: 8px; */
  padding: 20px 20px 0 20px;
}

.formRow {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0;
  padding-left: 20px;
  /* background-color: #e3b3b3; */

}

.label {
  font-size: 18px;
  width: 80px;
  display: inline-block;
  text-align: center;
  margin: 10px 0 10px 0;
  /* background-color: #ccc; */
}

.input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 60%;
  height: 35px;
}

.verifyInput {
  width: 30%;
}

.verifyBtn {
  padding: 8px 12px;
  margin-left: 15px;
  font-size: 14px;
  border: 1px solid #E1C599;
  background-color: #E1C599;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.verifyBtn:hover {
  background-color: #e9cea2;
  color: white;
}

.nextBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8DAA91;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 16px 0 20px 0;
}
.nextBtn:hover {
  background-color: #97b59b;
}

.nextBtn:disabled {
  background-color: #90caf9;
  cursor: not-allowed;
}

.status {
  color: #6c757d;
  margin-top: 5px;
  font-size: 14px;
}
