.uploadbtn{
    display: flex;
    justify-content: end;
    align-items: center;
}
.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.btnadd {
    background-color: #7d9b82;
    border: none;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0 5px 5px 0;
    color: white;
    font-size: 14px;
    /* min-width: 70px */
}

.btnadd:hover {
    transition: 0.5s ease;
    transform: translateY(-3px);
}

.btndel {
    background-color: #e60023;
    border: none;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0 0 5px 0;
    color: white;
    font-size: 14px;
    min-width: 40px
}

.btndel:hover {
    transition: 0.5s ease;
    transform: translateY(-3px);
}

.btnsubmit{
    background-color: #DDB227;
    border: none;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0 5px 5px 0;
    color: white;
    font-size: 14px;
    min-width: 40px;
}
.btnsubmit:hover{
    transition: 0.5s ease;
    transform: translateY(-3px);
}

.tableprimary {
  background-color: #E1C599 ; 
  color: #000; 
}

.tablestriped tbody tr:nth-of-type(odd) {
  background-color: #F7F0E7; 
}
.bb{
    background-color: #F7F6EE;
    border: none;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0 5px 5px 0;
    color: black;
    font-size: 14px;
    min-width: 40px;
    
}
.btn {
    background-color: #7d9b82;
    border: none;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0 5px 0 10px;
    color: white;
    font-size: 14px;
}