.btnadd {
    background-color: #7d9b82;
    border: none;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 6px 10px 15px 10px;
    color: white;
    font-size: 14px;
}

.btnadd:hover {
    transition: 0.5s ease;
    transform: translateY(-3px);
}

.btnsubmit{
    background-color: #DDB227;
    border: none;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0 10px 0 10px;
    color: white;
    font-size: 14px;
}
.btnsubmit:hover{
    transition: 0.5s ease;
    transform: translateY(-3px);
}

.btncancel{
    background-color: rgba(108, 117, 125,0.8);
    border: none;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0 5px 0 10px;
    color: white;
    font-size: 14px;
}
.btncancel:hover{
    transition: 0.5s ease;
    transform: translateY(-3px);
}

.btndel {
    background-color: #e60023;
    border: none;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0 5px 0 3px;
    color: white;
    font-size: 14px;
}

.btndel:hover {
    transition: 0.5s ease;
    transform: translateY(-3px);
}