/* 2025/5/11邑新增控制首頁與其他分頁header高度 */
:root {
  --header-height: 0px;
  /* 預設為首頁 */
}

body.not-home {
  --header-height: 120px;
  /* 內頁 padding 高度 */
}

.mainContent {
  padding-top: var(--header-height);
  transition: padding-top 0.3s ease;
}

/* 新增到這裡為止 */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}